.image404{
    width: 60%;
    min-width: 300px;
    min-height: auto;
    margin-left: $container-margin-width;
    margin-right: $container-margin-width;
    margin-top: $container-margin-height;
    margin-bottom: $container-margin-width;
}

.featurette-divider-404{
    margin-left: $container-margin-width + 6vw;
    margin-right: $container-margin-width + 6vw;
}