/*-------------------------------- NOTICIAS ----------------------------------*/

.imagenNoticias1 {
    background-image: url(/recursos/imagenes/noticias/botellas_de_plastico.jpeg);
    @include bg-image-noticias;
    .etiquetaNoticias {
        position: relative;
        top: $padding-height + 3;
        left: $padding-width - 3;
    
        background-color: $color-primary;
        font-size: $font-size-CallToAction;
        color: $color-secondary; 
        padding-top: $padding-height;
        padding-bottom: $padding-height;
        padding-left: $noticias-tag-paragraph-width;
        padding-right: $noticias-tag-paragraph-width;
        border-radius: $border-radius-text;
    }
}

.imagenNoticias2 {
    background-image: url(/recursos/imagenes/noticias/caminos_del_plastico.jpg);
    @include bg-image-noticias;
    .etiquetaNoticias {
        position: relative;
        top: $padding-height + 3;
        left: $padding-width - 3;
    
        background-color: $color-primary;
        font-size: $font-size-CallToAction;
        color: $color-secondary; 
        padding-top: $padding-height;
        padding-bottom: $padding-height;
        padding-left: $noticias-tag-paragraph-width;
        padding-right: $noticias-tag-paragraph-width;
        border-radius: $border-radius-text;
    }
}

.imagenNoticias3 {
    background-image: url(/recursos/imagenes/noticias/estado_reciclaje_argentina.jpg);
    @include bg-image-noticias;
    .etiquetaNoticias {
        position: relative;
        top: $padding-height + 3;
        left: $padding-width - 3;
    
        background-color: $color-primary;
        font-size: $font-size-CallToAction;
        color: $color-secondary; 
        padding-top: $padding-height;
        padding-bottom: $padding-height;
        padding-left: $noticias-tag-paragraph-width;
        padding-right: $noticias-tag-paragraph-width;
        border-radius: $border-radius-text;
    }
}

.textoNoticias{
    background-color:$bg-color-paragraph-text;
    padding: $text-padding-width;
    margin-bottom: $text-margin-width;
    border: $border-paragraph-text; 
    border-radius: $border-radius-paragraph-text;
    text-align: $text-align;
}

.imagenesNoticias{
    width: 25vw;
    height: auto;
}